@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Ubuntu:wght@300&display=swap');

:root{
    --primary-color: #0B6E4F;
    --secondary-color: #477377;
    --accent1-color: #EAAE5A;
    --accent2-color: #936540;

    --heading-font: ubuntu, sans-serif;
    --paragraph-font: ubuntu, sans-serif;

    --nav-background-color: #062d0bd1;
    --nav-link-color: #b7d3d6;
    --nav-hover-link-color: #e3bb83;
    --nav-hover-background-color: #91735b;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 84px;
    background-color: var(--nav-background-color);
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, minmax(0,1fr));
    gap: 20px;
    align-items: center;
    border-bottom: 5px solid black;
}

header nav {
    padding: 10px;
    display: flex;
    color: var(--nav-link-color);
    text-decoration: none;
    position: absolute;
    right: 60px;
    top: 10px;

}

header nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
    font-size: 25px;
}

/*The logo was positioned the way it is*/
header img {
    height: 160px;
    width: auto;
    z-index: 3;
    grid-column: 2 / 13;
    grid-row: 1;
    border-radius: 100%;
    box-shadow: 0 0 50px rgb(0, 0, 0, 1);
}

main {
    background-image: url(/wwr/images/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--nav-hover-link-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    font-family: "Roboto", sans-serif;
}

.contactcontainer {
    width: 80%;
    border: 1px solid black;
    background-color: rgb(209, 235, 235, 0.7);
    border-radius: 25px;
    margin: 3%;
    height: auto;
}

#inside {
    position: relative;
    height: 50%;
    text-decoration: none;
    color: white;
    background-color: var(--secondary-color);
    padding-left: 10%;
    padding-top: 1rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.contactcontainer div h2{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0.4rem;
    margin-top: auto;
}

.contactcontainer div img {
    position: absolute;
    height: 100%;
    width: auto;
    right: 1px;
    top: 1px;
    border-top-left-radius: 70px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 70px;
}


section { 
    display: grid;
    grid-template-columns: repeat(30, 3.33333333333%);
    grid-template-rows: repeat(30, 3.33333333333%);
}

section div {
    text-align: center;
    padding: 5px;
    margin: 30px;
}

#one {
    background-color: white;
    width: 25rem;
    height: 15rem;
    grid-column: 3 / 15;
    grid-row: 2 / 5;
    border-radius: 4%;  
}

#one img {
    height: 25px;
    position: relative;
    margin-top: 10%;
}

#one h3{
    margin-top: 6%;
}

#one p{
    margin-top: 4%;
}

#one p:nth-last-of-type(1):hover{
    color: rgb(80, 80, 215);
}

#two {
    background-color: white;
    width: 25rem;
    height: 15rem;
    grid-column: 17 / 30;
    grid-row: 2 / 5;
    border-radius: 4%;  
}

#two img {
    height: 25px;
    position: relative;
    margin-top: 10%;
}

#two h3{
    margin-top: 6%;
}

#two p{
    margin-top: 4%;
}

#three {
    background-color: white;
    width: 25rem;
    height: 15rem;
    grid-column: 3 / 15;
    grid-row: 15 / 16;  
    border-radius: 4%;  
} 

#three img {
    height: 35px;
    position: relative;
    margin-top: 10%;
}

#three h3{
    margin-top: 6%;
}

#three p{
    margin-top: 4%;
}

#three a:hover{
    color: rgb(1, 0, 2);
}

#four {
    background-color: white;
    width: 25rem;
    height: 15rem;
    grid-column: 17 / 30;
    grid-row: 15 / 16;
    border-radius: 4%;  
}

#four iframe{
    width: auto;
    height: 14rem;
}

form {
    width: 650px;
    height: auto;
    margin: 20px auto;
    padding: 1rem;
    border: 1px solid transparent;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 0.6rem;
    background: var(--accent1-color);
    display: grid;
}

h1 {
    margin: 0 auto;
    width: 650px;
    padding-left: 15px;
    color: white;
    font-size: 2.5rem;
  }

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    padding: 1rem;
    width: 90%;
    border: none;
}

legend {
    font-size: 1.3em;
    border-bottom: 1px solid black;
    display: grid;
    width: 85%;
}

.name {
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
    padding: 10px;    
}

.name label {
    text-align: left;
    margin: 10px;
    font-size: 1.2rem;
    font-weight: 500;
}

.name input {
    width: 15rem;
    border-radius: 5px;
    grid-row: 2/3;
}

.lastname {
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
    padding: 10px;  
}

.lastname label {
    text-align: left;
    margin: 10px;
    font-size: 1.2rem;
    font-weight: 500;
}

.lastname input {
    width: 15rem;
    border-radius: 5px;
    grid-row: 2/3;
}

input, select, textarea {
    padding: 0.5rem;
    /* font-size: ; */
    border-radius: 5px;
}

#check {
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: center;
}

#check label {
    text-align: left;
    margin: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    grid-column: 3/3;
    grid-row: 1/2;
}

#check input {
    width: 15rem;
    border-radius: 5px;
    grid-column: 2/3;
    grid-row: 1/2;
}

#check input[type="checkbox"]{
    width: 22px;
    height: 22px;
    vertical-align: bottom;
  }

#button{
    margin: 0 auto;
}

button {
    background-color: rgb(94, 4, 94);
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: medium;
    font-weight: 700;
    margin: 0 auto;
}

button:hover { 
    background-color: rgb(8, 8, 63);
}

.left {
    text-align: left;
}

footer {
    width: 100%;
    color: var(--nav-link-color);
    background-color: var(--nav-background-color);
    font-family: "Roboto", sans-serif;
}

footer nav img {
    height: 30px;
    width: auto;
}

