@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --primary-color: #0B6E4F;
    --secondary-color: #477377;
    --accent1-color: #EAAE5A;
    --accent2-color: #936540;

    --heading-font: ubuntu, sans-serif;
    --paragraph-font: ubuntu, sans-serif;

    --nav-background-color: #062d0bd1;
    --nav-link-color: #b7d3d6;
    --nav-hover-link-color: #e3bb83;
    --nav-hover-background-color: #91735b;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header {
    height: 90px;
    background-color: var(--nav-background-color);
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, minmax(0,1fr));
    gap: 20px;
    align-items: center;
    border-bottom: 5px solid black;
}

header nav {
    padding: 10px;
    display: flex;
    color: var(--nav-link-color);
    text-decoration: none;
    position: absolute;
    right: 60px;
    top: 10px;

}

header nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
    font-size: 25px;
}

header img {
    height: 160px;
    width: auto;
    z-index: 3;
    /* This is how it was positioned before: 
    position: absolute;
    left: 150px;
    top: 1px; */
    grid-column: 2 / 13;
    grid-row: 1;
    border-radius: 100%;
    box-shadow: 0 0 50px rgb(0, 0, 0, 1);
}

.hero {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.hero h1 {
    position: absolute;
    top: 14%;
    z-index: 2;
    color: white;
    font-size: 3.8em;
    background-color: var(--nav-background-color);
}

.hero article {
    position: absolute;
    text-align: justify;
    width: 85.5%;
    font-size: 35px;
    color: white;
    z-index: 2;
    padding: 10px;
    top: 40%;
    background-color: rgb(63, 112, 116, 0.8);
}

.hero img{
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 1;
}

.hero article img {
    height: 200px;
    width: auto;
    float: right; 
    margin: 15px;   
}

.contactcontainer {
    position: absolute;
    width: 80%;
    border: 1px solid black;
    z-index: 2;
    top: 10%;
    right: auto;
    background-color: rgb(209, 235, 235, 0.7);
    border-radius: 25px;
}

#inside {
    position: relative;
    height: 50%;
    text-decoration: none;
    color: white;
    background-color: var(--secondary-color);
    padding-left: 10%;
    padding-top: 1rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.contactcontainer div h2{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0.4rem;
    margin-top: auto;
}

.contactcontainer div img {
    position: absolute;
    height: 100%;
    width: auto;
    right: 1px;
    top: 1px;
    border-top-left-radius: 70px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 70px;
}


section { 
    display: grid;
    grid-template-columns: repeat(30, 3.33333333333%);
    grid-template-rows: repeat(30, 3.33333333333%);
}

#one {
    background-color: white;
    width: 18rem;
    height: 18rem;
    grid-column: 5 / 15;
    grid-row: 2 / 10;
    border: 1px solid white;
}

#two {
    background-color: white;
    width: 18rem;
    height: 18rem;
    grid-column: 20 / 30;
    grid-row: 2 / 22;
    border: 1px solid white;

}

#three {
    background-color: white;
    width: 18rem;
    height: 18rem;
    grid-column: 5 / 15;
    grid-row: 19 / 30;    
    border: 1px solid white;
} 

#four {
    background-color: white;
    width: 18rem;
    height: 18rem;
    grid-column: 20 / 30;
    grid-row: 19 / 30;
    border: 1px solid white;

}

footer {
    width: 100%;
    color: var(--nav-link-color);
    background-color: var(--nav-background-color);
}

footer nav img {
    height: 30px;
    width: auto;
}

main {
    background-color: var(--nav-hover-link-color);
}
