@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Ubuntu:wght@300&display=swap');

:root{
    --primary-color: #0B6E4F;
    --secondary-color: #477377;
    --accent1-color: #EAAE5A;
    --accent2-color: #936540;

    --heading-font: ubuntu, sans-serif;
    --paragraph-font: ubuntu, sans-serif;

    --nav-background-color: #062d0bd1;
    --nav-link-color: #50878d;
    --nav-hover-link-color: #e3bb83;
    --nav-hover-background-color: #91735b;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 160px;
    background-color: var(--nav-background-color);
    position: relative;
}

header nav {
    padding: 10px;
    display: flex;
    color: var(--nav-link-color);
    text-decoration: none;
    position: absolute;
    right: 60px;
    top: 45px;
}

header nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
    font-size: 25px;
}

header img {
    height: 160px;
    width: auto;
    position: absolute;
    left: 150px;
    top: 1px;
}

.hero {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    position: absolute;
    top: 14%;
    z-index: 2;
    color: white;
    font-size: 3.8em;
    background-color: var(--nav-background-color);
}

.hero article {
    position: absolute;
    text-align: justify;
    width: 85.5%;
    font-size: 35px;
    color: white;
    z-index: 2;
    padding: 10px;
    background-color: rgb(63, 112, 116, 0.8);
}

.hero img{
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 1;
}

.hero article img {
    height: 200px;
    width: auto;
    float: right; 
    margin: 15px;   
}



#history {
    position: relative;
    top: 5em;
    width: 100%;
}

#history h2 {
    font-size: 35px;
    padding-left: 45%;
    padding-top: 5%;
}

#history p {
    width: 80%;
    font-size: 25px;
    text-align: justify;
    padding-left: 20%;
    padding-top: 5%;
}

#adventure {
    position: relative;
    top: 15em;
    width: 100%;
}

#adventure img{
    width: 80px;
    height: 80px;
}

footer {
    position: relative;
    top: 25em;
    width: 100%;
}

footer nav img {
    height: 30px;
    width: auto;
}