body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Choose a suitable font-family */
  }
  
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  