html {
    @import url(https://fonts.googleapis.com/css?family=Lexend:100,200,300,regular,500,600,700,800,900);
    font-size: 16px;
}

body {
    font-size: 10;
    width: 800px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 1px solid black;
}

h1 {
    margin: 0;
    padding: 20px 0;
  }

.ems li {
    font-size: 1.3em;
  }
  
.rems li {
    font-size: 1.3rem;
  }

.lh {
    margin: 0;
    background-image: repeating-linear-gradient(
      to top,
      lightskyblue 0 2px,
      transparent 2px 1lh
    );
  }