*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
}

nav a {
    color: white;
    display:block;
    padding: 20px;
}

h1 {
    color: steelblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 10px;
    position: relative;
    top: 12px;
}

main p {
    padding: 18px;
    text-align: justify;
}

main {
    max-width: 840px;
}

aside{
    width: 400px;
    height: 400px;
    color: rgb(100, 67, 199);
    position: relative;
}

aside p {
    position: absolute;
    bottom: 1px;
    left: 1px;
    text-align: justify;
    padding: 18px;
}

aside img {
    width: 200px;
    height: auto;
    position: absolute;
    left: 95px;
    z-index: 1;
}

aside h2 {
    position: absolute;
    color: black;
    top: 23px;
    left: 130px;
    width: 130px;
    z-index: 2;
    background-color: rgb(227, 237, 245, 0.8) ;
}

footer {
    margin: 4em;
    border-top: 1px solid black;
    text-align: center;
}

/* "Class Selectors" */
.box{
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: rgba(212, 240, 237);
}